.heloo{
    font-size:30px;

}

p.a {
  margin-right:10%;



}


.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

.col-25{
  padding: 0 16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}
