{% extends 'base.html' %}
{% block content %}
<center><h1>Your Orders</h1></center>
<style>
    .don{
        margin-right:30%;
        margin-left:30%;
        border-style: groove;

    }
</style>

<div class="don">
{% for i in form %}
{% if request.user == i.user %}
date::{{i.date}}

<a href="/history/"><input name='payment' type="submit" value="ViewDetails" class="btn btn-primary"></a> <br><br><hr>
</div>
<div>
  <span>
   {% if form.has_previous %}
    <a href="?page={{form.previous_page_number}}">Previous</a>
   {% endif %}

    <span>Page {{ form.number }} of {{ form.paginator.num_pages }}</span>

   {% if form.has_next %}
    <a href="?page={{form.next_page_number}}">Next</a>
   {% endif %}
  </span>
 </div>

{% endif %}
{% endfor %}
{% endblock %}
    </div>