{% extends 'base.html' %}
{% block content %}
<center><h1>Your Orders</h1></center>


{% for i in order_page %}
Date: {{i.date}}<br>
    <h3>Item Name</h3> {{i.item_name}}<br>
    <h3>Status</h3> {{i.status}}<br><br>
<form action="/history" method="get">
    <input hidden name='payment' type="text" value="{{i.date}}">
    <input type="submit" value="view details"class="btn btn-primary"><br><hr>
</form>
{% endfor %}
     {% if order_page.has_previous %}
    <a href="?page={{order_page.previous_page_number}}">Previous</a>
   {% endif %}

    <span>Page {{ order_page.number }} of {{ order_page.paginator.num_pages }}</span>

   {% if order_page.has_next %}
    <a href="?page={{order_page.next_page_number}}">Next</a>
   {% endif %}




{% endblock %}
