{% extends 'base.html' %}
{% block content %}
{% load static %}
<style>
    table,td,tr,th{
    border:1px solid black;
    }
</style>
<link href="{% static 'css/1.css' %}" rel="stylesheet">
<div class="col-sm-5 offset-1">
  <h4 class="text-center alert alert-info">Raise a complaint </h4>
  <form action="" method="POST">
   {% csrf_token %}
   {{form.as_p}}
   <input type="submit" class="btn btn-success" value="Add">
  </form>
 </div>

 <div class="col-sm-4 offset-1">
{% if user.is_authenticated %}

  {% if stu %}

   <table class="table table-striped.thead-dark">
       <h4 class="text-center alert alert-danger"> complaint history </h4>
     <thead>
       <tr>
         <th scope="col">ID</th>
         <th scope="col">Booking Id</th>
            <th scope="col"> Issue </th>
         <th scope="col">User name</th>



       </tr>
     </thead>
     <tbody>
      {% for st in stu %}

       <tr>
         <th scope="row">{{st.id}}</th>
         <td>{{st.booking_id}}</td>
         <td>{{st.issue}}</td>
         <td>{{st.user}}</td>

       </tr>
      {% endfor %}
     </tbody>
   </table>

  {% else %}
   <h4 class="text-center alert alert-warning">No Records</h4>

 </div>

</div>
 {% endif %}
{% endif %}

{% endblock content %}