{% extends 'base.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .jumbotron{
          display:flex;
          flex-direction:column;
          justify-content:center;
          align-items:center;
          margin-left: 390px;
          margin-right: 400px;
          text-align: center;
        }
        </style>
</head>
<body>
    <br><br><br>
    <div class="jumbotron">
<form action="" method="post" novalidate>
 {% csrf_token %}
  {% if form.non_field_errors %}
   {% for error in form.non_field_errors %}
    <p class="er">{{error}}</p>
   {% endfor %}
  {% endif %}
 {% for fm in fm %}
  {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br><br>
 {% endfor %}
 <input type="submit" value="Submit">
</form>
{% if messages %}
 {% for message in messages %}
  <small {% if message.tags %} class="{{message.tags}}" {% endif %}> {{message}} </small>
 {% endfor %}
 {% endif %}
 <a href="{% url 'login' %}">Login</a>
 <h4>Signup as a user</h4>
 <a href="sign">User Signup</a>
</div>
</body>
</html>
{% endblock %}