{% extends 'base.html' %}
{% block content %}
<head>
    <style>
    </style>
</head>
<body>
{% for i in form %}

<div>
    <h3>{{i.item_name}}</h3>
    <h4>Status: {{i.status}}</h4>
    Destination:  {{i.destination}}<br>
    item_weight:  {{i.item_weight}}<br>
    services:  {{i.services}}<br>
    from_whom:  {{i.from_whom}}<br>
    price: {{i.price}}
    <br>
    <a href="/book"> <input name='payment' type="submit" value="Back" class="btn btn-primary"> </a> <bR>
    <hr>
</div>

{% endfor %}
</body>
</head>
{% endblock %}
