{% extends 'base.html' %}
{% block head_content %}


  {% endblock %}
{% block content %}
<div class="home">
<h3> Welcome {{request.user}}</h3>
<hr>
<form action="hom" method="get">
Choose your Delivery Range:
<input name='range' type="submit" value="Domestic" class="btn btn-primary">
<input name='range' type="submit" value="International" class="btn btn-primary">
</form>
<div class="col-md-4".col-md-3>

  {% if range %}

<form action="" method="post" class="domestic">
  {% csrf_token %}
  <div class="domestic">{{form.as_p}}</div>
    <input type="submit" value="Submit" class="btn btn-success">
</form>
  {% endif %}
</div>
<div class="col-md-4".col-md-4>

</div>

  </div>

{% endblock %}