{% extends 'base.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    {% load static %}
    <link href="{% static 'css/two.css' %}" rel="stylesheet">
</head>
<body>

<center><h1 style="color:red;">Order Summary</h1></center><hr>
<div class="orde">
{% for detail,value in summary.items %}
{% if detail != 'csrfmiddlewaretoken' %}
    <div class="hell"><br><br>
{{detail}}: {{value}}
 </div>
{% endif %}
{% endfor %}
   <img src="{{image.url}}">
 <div class="hell">
 <a href="payment" ><h6><button type="button" class="btn btn-success">Payment</button></h6></a>
 <a href="hom" type='button' class="btn btn-danger">Cancel</a>
 </div>
</div>

</body>
</html>
{% endblock %}