{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
     <link href="{% static 'css/four.css' %}" rel="stylesheet">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body><center>
    <div class="heloo "><br>
        <p>&#9989;</p>
<h1 style="color:green"> payment successfully</h1>


        <div class="col-25">
    <div class="container">
      <p >origin  : <span class="price">{{order.origin}}</span></p>
      <p >destination : <span class="price"> {{order.destination}}</span></p>
     <p >Destination_country: <span class="price"> {{order.Destination_country}}</span></p>
   <p >service: <span class="price"> {{order.services}}</span></p>
           <p >Date: <span class="price">{{order.date}}</span></p>
           <p >price  : <span class="price"> {{order.price}}</span></p>
           <p >from_whom: <span class="price"> {{order.from_whom}}</span></p>
        <p >image : <span class="price"> <img src="{{order.parcel_image.url}}"</span></p><hr>
           <a href="address"><button type="button" class="btn btn-success">Go to Home</button></h6></a></a>

    </div>
  </div>
</body></center></div>
</html>

{% endblock %}