<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>your order placed successfully</h1>
origin : {{order.origin}}<br>
destination : {{order.destination}}<br>
Destination_country : {{order.Destination_country}}<br>
service : {{order.services}}<br>
Date : {{order.date}}<br>
price : {{order.price}}<br>
from_whom : {{order.from_whom}}<br>
image : <img src="{{order.parcel_image.url}}" ><hr>
<a href="/"><button>Go to Home</button></a>
</body>
</html>